@import "tailwindcss";

#root {
  min-height: 100vh; /* Ensure root fills viewport */
  width: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


